/* -------- FOTO DO LIVRO -------- */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    padding-top: 10px;
}

.dados-livro{
    width: 100%;
    max-width: 1250px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 5px;
    gap: 20px;
}

.fotos-livro{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.slider-livro{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fotos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fotos div{
    background-color: #D9D9D9;
    width: 75px;
    height: 75px;
    display: none;
    cursor: pointer;
}

.fotos div input[type='file']{
    display: none;
}

.fotos div img{
    width: 60%;
    margin: auto;
}

.foto-principal{
    background-color: #D9D9D9;
    height: 700px;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: black;
}

.foto-principal input[type='file']{
    display: none;
}

.foto-principal > img{
    width: 100px;
}

.dados{
    font-size: 30px;
}

.dividir{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
    gap: 10px;
}

.dado{
    width: 300px;
}

.dado hr{
    width: 65%;
    margin-block: 10px;
    border: 1px solid #872D48;
}

.dado input, textarea, select{
    width: 100%;
    font-size: 20px;
    outline: none;
    background-color: #A44964;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.dado select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/seta-baixo.png) no-repeat center right #A44964;
    background-size: 20px;
    background-position: 270px;
    cursor: pointer;
}

.dado input::placeholder, textarea::placeholder{
    color: white;
}

.dado input, select{
    height: 40px;
}

.dado textarea{
    height: 234px;
    resize: none;
}

.status-campo, .link-campo{
    width: 100%;
    margin-bottom: 20px;
}

.link-campo{
    display: none;
}

.status{
    display: flex;
    gap: 50px;
}

.status input[type="radio"]{
    width: 25px;
    height: 25px;
}

.status label{
    font-size: 20px;
}

.desenvolvimento, .finalizado{
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
}

.link-campo input{
    font-size: 15px;
}

.link-campo input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.a-venda{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.a-venda input{
    width: 25px;
}

.link{
    display: none;
}

.dados-livro button{
    width: 180px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #A44964;
    color: white;
    cursor: pointer;
}

/* -------- RESPONSIVO -------- */
@media (max-width: 1015px) {
    .dados-livro{
        flex-direction: column;
        align-items: center;
    }

    .dados{
        width: 100%;
        max-width: 900px;
        padding: 10px;
    }
}

@media (max-width: 625px) {
    .foto-principal{
        height: 500px;
    }
}

@media (max-width: 475px) {
    .foto-principal{
        height: 400px;
    }

    .foto-principal label{
        font-size: 13px;
    }
}

@media (max-width: 445px) {
    .menu{
        font-size: 17px;
    }

    .logo{
        width: 35px;
        height: 35px;
    }
}