.itens{
    border-bottom: 2px solid #872D48;
    padding-bottom: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.itens label{
    color: white;
}

.perfil-menu{
    top: 10px;
}

/* -------- MAIN -------- */
main{
    margin-top: 65px;
    padding: 15px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h2{
    color: white;
    font-weight: bolder;
}

.fotos{
    width: 100%;
}

.foto-container{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.foto{
    background-color: #313131;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.foto > img{
    width: 100%;
    height: 100%;
}

.foto-container input[type="file"]{
    display: none;
}

#modal{
    background-color: #424242;
    border: none;
    top: 50%;
    left: 50%;
}

#modal::backdrop{
    background-color: rgb(0, 0, 0, .5);
}

#fechar{
    width: 35px;
    height: 35px;
    background: #424242;
    border: none;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
}

#fechar img{
    width: 100%;
    height: 100%;
    filter: invert(100%);
    transform: rotateZ(45deg);
}

.preview > div:nth-child(2){
    width: 300px;
    margin: auto;
}

#modal > div:nth-child(3){
    display: flex;
    justify-content: space-evenly;
    margin-block: 10px;
}

#modal > div:nth-child(3) button{
    padding-block: 7px;
    width: 130px;
    background-color: #AD395C;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.foto-container div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foto-container div:nth-child(2) div{
    display: flex;
    flex-direction: column;
}

.foto-container label{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.foto-container span{
    color: white;
}

.foto-container div:nth-child(2) button{
    width: 150px;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background-color: #AD395C;
    color: white;
    cursor: pointer;
}

.capa{
    background-color: #313131;
    display: flex;
    justify-content: center;
    width: 350px;
    height: 115px;
    border-radius: 10px;
    overflow: hidden;
}

.capa img{
    max-width: 100%;
    max-height: 100%;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dados-usuario{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.dado{
    color: white;
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
}

.dado label{
    font-size: 23px;
}

.dado hr{
    border: 1px solid #872D48;
    width: 60%;
    margin-block: 10px;
}

.dado input{
    background-color: #A44964;
    border: none;
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 4px;
    color: white;
    padding: 5px;
    outline: none;
}

.dado input::placeholder{
    color: white;
}

.dados-usuario:nth-child(2) .dado{
    width: 100%;
}

.dado textarea{
    background-color: #A44964;
    border: none;
    height: 300px;
    padding: 5px;
    border-radius: 4px;
    color: white;
    resize: none;
    outline: none;
}

.dado textarea::placeholder{
    color: white;
}

.salvar-alteracoes{
    font-size: 18px;
    color: white;
    background-color: #313131;
    border-radius: 5px;
    width: 95%;
    max-width: 1092px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    padding-inline: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 30px;
    transform: translateY(80px);
    transition: all 200ms;
}

.botoes{
    height: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.botoes button{
    height: 100%;
    padding-inline: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    color: white;
}

.botoes button:nth-child(1):hover{
    background-color: #424242;
}

.botoes button:nth-child(2){
    background-color: #AD395C;
}

.botoes button:nth-child(2):hover{
    background-color: white;
    color: #AD395C;
    font-weight: 500;
}

/* -------- RESPONSIVO -------- */
@media (max-width: 900px) {
    .itens{
        border-bottom: none;
        padding-bottom: 0;
    }

    .itens label{
        display: none;
    }
}

@media (max-width: 750px) {
    .foto-container{
        flex-direction: column;
        align-items: initial;
    }
}

@media (max-width: 445px) {
    .menu{
        font-size: 17px;
    }

    .logo{
        width: 35px;
        height: 35px;
    }
}