main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    padding-top: 20px;
}

/* -------- SEÇÃO LIVRO -------- */
.livro{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1005px;
    width: 100%;
}

.livro > hr{
    width: 90%;
    background-color: #827F7F;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #827F7F;
}

.container-livro{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.slider-livro{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fotos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fotos div{
    background-color: #D9D9D9;
    width: 75px;
    height: 75px;
    display: flex;
    cursor: pointer;
}

.fotos div img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.foto-principal{
    background-color: #D9D9D9;
    height: 700px;
    aspect-ratio: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-principal img{
    max-width: 100%;
    max-height: 100%;
}

.container-livro > div:nth-child(2){
    display: flex;
    gap: 10px;
}

.dados-livro{
    width: 320px;
    color: white;
    flex-direction: column;
}

.dados-livro h1{
    font-size: 35px;
    font-weight: 300;
}

.dados-livro hr{
    width: 295px;
    border: 1px solid #872D48;
    margin-block: 10px
}

.dados-livro h2{
    font-weight: 300;
    margin-bottom: 45px;
}

.sinopse{
    font-size: 19px;
    height: 187px;
    margin-bottom: 5px;
    word-break: break-word;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

#ver-mais{
    color: #C53660;
    display: block;
    width: max-content;
    cursor: pointer;
}

#ver-mais.invisivel{
    display: none;
}

.dados-livro button{
    width: 320px;
    height: 80px;
    background-color: #C7426A;
    border: none;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 200ms;
}

.dados-livro button:hover{
    background-color: white;
    color: #C7426A;
}

.dados-livro button:hover, .favorito:not(){
    background-color: white;
    color: #C7426A;
}

.container-livro div a{
    height: 40px;
    width: 40px;
}

.favorito{
    background: none;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.autor{
    max-width: 780px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.foto-autor{
    background-color: #313131;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
}

.foto-autor img{
    width: 100%;
    height: 100%;
}

.descricao{
    max-width: 690px;
    width: 100%;
    color: white;
}

.descricao label{
    font-size: 25px;
    display: block;
    margin-bottom: 3px;
}

.descricao label:nth-child(3){
    font-size: 16px;
    font-weight: bold;
}

.descricao p{
    font-size: 16px;
    margin-bottom: 5px;
    height: 103px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.comentario{
    padding: 40px;
    max-width: 1208px;
    width: 100%;
}

.comentario h1{
    color: white;
    margin-bottom: 50px;
}

.escrever{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    min-height: 200px;
    margin-bottom: 80px;
}

.escrever .perfil{
    background-color: #B9ADAD;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: initial;
}

.escrever > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 100%;
}

.escrever textarea{
    width: 100%;
    font-size: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #872D48;
    padding: 5px;
    margin-top: 10px;
    color: white;
    outline: none;
    resize: none;
}

.escrever textarea::placeholder{
    color: white;
}

.escrever .sem-conta{
    border-bottom: 2px solid #777777;
    cursor: not-allowed;
}

.escrever .sem-conta::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.botoes{
    flex-direction: row-reverse;
    gap: 10px;
    display: none;
}

.botoes button{
    padding: 5px 10px;
    outline: none;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    background: none;
    color: white;
    cursor: pointer;
    transition: all 200ms;
}

.botoes button:hover{
    background-color: #C53660;
}

.container-comentarios{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline: 20px;
}

.comentarios{
    background-color: #D9D9D9;
    max-width: 600px;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
}

.foto-usuario{
    background-color: #B9ADAD;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.foto-usuario img{
    width: 100%;
    height: 100%;
}

.dados-usuario{
    width: calc(100% - 130px);
}

.dados-usuario label{
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
}

.dados-usuario p{
    font-size: 17px;
    word-break: break-word;
}

.interacoes{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.interacoes button{
    width: 46px;
    height: 46px;
    background: none;
    border: none;
    cursor: pointer;
}

.interacoes button img{
    width: 40px;
    height: 40px;
}

/* -------- RESPONSIVO -------- */
@media (max-width: 1025px) {
    .foto-principal{
        height: 500px;
    }
}

@media (max-width: 880px) {
    .foto-principal{
        height: 400px;
    }
}

@media (max-width: 790px) {
    .container-livro{
        flex-direction: column;
    }

    .dados-livro{
        width: 335px;
    }

    .comentario{
        padding: 0;
    }

    .comentario h1{
        margin-top: 40px;
        margin-left: 40px;
    }

    .escrever{
        padding: 10px;
    }

    .autor{
        padding: 15px;
        flex-direction: column;
    }

    .container-comentarios{
        margin-bottom: 40px;
    }

    .slider-livro{
        flex-direction: column-reverse;
    }

    .fotos{
        flex-direction: row;
    }
}

@media (max-width: 610px) {
    .escrever{
        flex-direction: column;
    }

    .foto-usuario{
        width: 70px;
        height: 70px;
    }

    .dados-usuario{
        width: calc(100% - 80px);
    }
}

@media (max-width: 445px) {
    .menu{
        font-size: 17px;
    }

    .logo{
        width: 35px;
        height: 35px;
    }
}